*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
html{
    font-family: 'DM Sans', sans-serif;
}
header{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr ;
    background: blue;
    text-align: center;
    height: 100px;
    border-bottom: solid black;
    width: 100%;
    
}
header img{
    width: 100px;
    margin-top: -10px;
}
header h1{
    font-size: 45px;
    text-shadow: black 0.1em 0.1em 0.2em;
    align-self: center;
    justify-self: center;
    color: yellow;
}
@media (max-width: 800px) {
    header h1{
      font-size: 30px;
      padding: 20px;
    }
  }
main{
    background: #0F2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 100%;
    width: 100%;
}
.main-conteiner-flex{
   display: flex;
   flex-direction: row;
}
@media (max-width: 800px) {
    .main-conteiner-flex {
      flex-direction: column;
      
    }
  }
.card-pokemon{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 2fr 1fr 1fr;
    background: #082032;
    margin-top: 100px;
    height: 400px;
    margin: 30px;
    border-radius: 15px;
    border: solid black;
}
.card-pokemon .imagen1{
    border: solid red;
    height: 150px;
    width: 160px;
    grid-column: 2;
    border-radius: 500px;

}
.card-pokemon .imagen2{
    border: solid red;
    height: 150px;
    width: 160px;
    grid-column: 2;
    border-radius: 500px;
}
.card-pokemon .imagen3{
    border: solid red;
    height: 150px;
    width: 160px;
    grid-column: 2;
    border-radius: 500px;
}
.card-pokemon h2{
    color: cornsilk;
    text-align: center;
    grid-column: 2;
    grid-row: 2;
    margin-top: -30px;
    height: 40px;

}
.caja-datos {
    background: #203A43;
    grid-row: 2/-1;
    grid-column: 1/-1;
    border: solid black;
    border-radius: 5px;
    color: bisque;
    
}
.caja-datos h3{
    font-size: 25px;
    margin: 10px;

}
footer{
    display: grid;
    height: 110px;
    width: 100%;
    background: #000000;
    grid-template-columns: 1fr 1fr 1fr;
}
footer a{
    text-align: center;
    grid-column: 2;
    align-self: center;
    justify-self: center; 
    text-decoration: none;
    background: red;
    color: white;
    width: 150px;
    height: 40px;
    font-size: 25px;
    border-radius: 30px;
    transition: transform .2s; 

}
a:hover{
    transform: scale(1.2);
}


